<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ASCII Art Generator</title>
</head>

<body>
    <h1>ASCII Art Generator</h1>
    <form action="/ascii-art" method="post">
        <label for="text">Enter text:</label><br><br>
        <textarea type="text" id="text" name="text" placeholder="Input Text" required>{{.Text}}</textarea><br><br>

        <label>Select Banner:</label><br>

        <div class="select" tabindex="1">
            {{range .Fonts}}
            <input class="selectopt" name="banner" type="radio" id="{{.}}" value="{{.}}" {{if eq $.Banner
                .}}checked{{end}}>
            <label for="{{.}}" class="option">{{.}}</label><br>
            {{end}}
        </div>

        <button type="submit">Generate ASCII Art</button>
    </form>

    <h2>ASCII Art Result</h2>
    <pre>{{.Art}}</pre>
</body>

</html>
