<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Artist.Name}} Groupie Tracker</title>
    <link rel="stylesheet" href="../css/artist.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> <!-- Home icon -->
    <link rel="icon" href="{{.MyAPI.Image}}" type="image/x-icon">
</head>
<body>

<!-- Navigation Bar -->
    <nav class="navbar">
        <a href="/" class="home-icon">
            <i class="fas fa-home"></i>
        </a>
        <ul class="nav-links">
            <li><a href="#section1">Overview</a></li>
            <li><a href="#section2">Members</a></li>
            <li><a href="#section3">Locations</a></li>
            <li><a href="#section4">Recap</a></li>
            <li><a href="#section5">Watch</a></li>
        </ul>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>

<!-- Section 1 -->
    <section id="section1" class="section1-content">
        <div class="section1-inner-content">
            <img src="{{.MyAPI.Image}}" alt="Your Image" class="section1-image">
            <div class="section1-text">
                <p><strong>Name: <span class="section1-highlight">{{.Artist.Name}}</span></strong></p>
                <p><strong>Creation Date: <span class="section1-highlight">{{.Artist.CreationDate}}</span></strong></p>
                <p><strong>First Album: <span class="section1-highlight">{{.Artist.FirstAlbum}}</span></strong></p>
            </div>
        </div>
    </section>

<!-- Section 2 -->
<section id="section2" class="section2-content">
    <!-- Section 2 Title -->
    <h2 class="section2-title">Members</h2>
    <!-- Members List -->
    <p class="section2-members">
        {{range $index, $member := .Artist.Members}}
            {{if $index}}, {{end}}<span class="section2-member-name">{{$member}}</span>
        {{end}}
    </p>
    <!-- Images Grid -->
    <div class="section2-grid">
        {{range $key, $value := .MyAPI.MembersImages}}
        <div class="section2-member">
            <img src="{{ $value }}" alt="{{ $key }}" class="section2-image">
            <p class="section2-name">{{ $key }}</p>
        </div>
        {{end}}
    </div>
</section>

<!--- Section 3 --->
<section id="section3" class="carousel-section">
    <!-- Carousel Title -->
    <h2 class="carousel-title-main">Locations</h2>

    <!-- Carousel Navigation Buttons -->
    <button class="carousel-button left-button" id="left-button">&#10094;</button>
    
    <!-- Carousel Container -->
    <div class="carousel-container" id="carousel-container">

        <!-- First Carousel Item: Map -->
        <div class="carousel-item map-container">
            <div id="map" style="width: 100%; height: 100%;"></div>
        </div>

        {{range $location, $details := .MyAPI.LocationImages}}
        <div class="carousel-item">
            <div class="carousel-text">
                <h3 class="carousel-title">{{ $location }}</h3>
                <ul class="carousel-dates">
                    {{range $i, $date := $details}}
                    {{if ne $i 0}}
                    <li>{{ $date }}</li>
                    {{end}}
                    {{end}}
                </ul>
            </div>
            <img src="{{index $details 0}}" alt="{{ $location }}" class="carousel-image">
        </div>
        {{end}}
    </div>
    
    <!-- Right Button -->
    <button class="carousel-button right-button" id="right-button">&#10095;</button>
</section>


<!--- Section 4 --->
<section id="section4" class="info-section">
    <table class="info-table">
        <tr>
            <td class="info-label">Locations</td>
            <td class="info-value">
                <ul class="location-list">
                    {{range $i, $v := .Locations.Locations}}
                    <li>{{$i}} - <a href="#" class="location-link" location-str="{{$v}}" target="_blank"> {{$v}} </a></li>
                    {{end}}
                </ul>
            </td>
        </tr>
        <tr>
            <td class="info-label">Locations - Dates</td>
            <td class="info-value">
                {{range $place, $dates := .Relations.DatesLocations}}
                <div class="relation-item">
                    <strong class="relation-place">+ {{$place}}</strong>
                    <ul class="relation-dates-list">
                        {{range $dates}}
                        <li class="relation-date-item">{{.}}</li>
                        {{end}}
                    </ul>
                </div>
                {{end}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="date-section">
                <strong>All Dates:</strong>
                <div class="date-div">
                    {{range .Dates.Dates}}
                    <span class="date-item">{{.}}</span><br />
                    {{end}}
                </div>
            </td>
        </tr>
    </table>
</section>

<section id="section5" class="carousel-section">
    <!-- Carousel Title -->
    <h2 class="carousel-title-main">Best-of</h2>

    <!-- Carousel Navigation Buttons -->
    <button class="carousel-button left-button" id="left-button">&#10094;</button>
    
    <!-- Carousel Container -->
    <div class="carousel-container" id="carousel-container">
        {{range .MyAPI.YoutubeURL}}
        <div class="carousel-item">
            <div class="youtube-video">
                {{.}}
            </div>
        </div>
        {{end}}
    </div>
    
    <!-- Right Button -->
    <button class="carousel-button right-button" id="right-button">&#10095;</button>
</section>

<!-- Footer Section -->
<footer class="footer">
    <a href="https://github.com/kinoz01" target="_blank" class="footer-link">
        <img src="https://i.postimg.cc/wxsg8CN0/github-icon-2.png" alt="GitHub Logo" class="github-logo">
        kinoz01
    </a>
</footer>

<script src="../js/navScript.js"></script>
<script src="../js/carousel.js"></script>
<script src="../js/clickMap.js"></script>

<!-- Inline Script to Pass Locations Array -->
<script>
    locations = [];
    {{range .Locations.Locations}}
    locations.push("{{.}}");
    {{end}}
</script>

<!-- Google Maps API -->
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQGCy1iSgnMkZpSBC1PJMj_ZdqJ-PpzDo&callback=initMap">
</script>

<!-- Map JavaScript File -->
<script src="../js/mapScript.js"></script>
</body>
</html>
